[submodule "syscallserver/src/main/cpp/util"]
	path = syscallserver/src/main/cpp/util
	url = https://github.com/chdir/util.git
[submodule "app/src/main/cpp/magic"]
	path = provider/src/main/cpp/magic
	url = https://github.com/Alexander--/file.git
[submodule "goro"]
	path = goro
	url = https://github.com/Alexander--/goro.git
[submodule "syscallserver/src/main/cpp/fuse"]
	path = syscallserver/src/main/cpp/fuse
	url = git@github.com:chdir/libfuse.git
