<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.sf.fakenames.fddemo" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".FdDemoApp"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity"
            android:launchMode="singleTop"
            android:taskAffinity=":main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".SAFActivity"
            android:label="File Picker"
            android:taskAffinity=":picker"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".PermissionActivity"
            android:theme="@style/AppDialogTheme"
            android:finishOnCloseSystemDialogs="true"
            android:noHistory="true"
            android:excludeFromRecents="true"
            android:stateNotNeeded="true"
            android:resumeWhilePausing="true"
            tools:ignore="UnusedAttribute">
        </activity>

        <provider
            android:authorities="net.sf.fddemo.files"
            android:name=".provider.FileProvider"
            android:exported="true"
            android:permission="android.permission.MANAGE_DOCUMENTS"
            android:grantUriPermissions="true">
            <!--suppress AndroidElementNotAllowed -->
            <intent-filter>
                <!--suppress AndroidElementNotAllowed -->
                <action android:name="android.content.action.DOCUMENTS_PROVIDER"/>
            </intent-filter>
        </provider>

        <provider
            android:authorities="net.sf.fddemo.public"
            android:name=".provider.PublicProvider"
            android:exported="true"
            tools:ignore="ExportedContentProvider">
        </provider>
    </application>
</manifest>